---
gluster_repos_username: dummy_user
gluster_repos_rhsmrepos:
   - rhel-7-server-rpms
   - rh-gluster-3-for-rhel-7-server-rpms
   - rh-gluster-3-nfs-for-rhel-7-server-rpms
   - rhel-ha-for-rhel-7-server-rpms
